#about-wrapper {
    margin: 50px 100px 70px 100px;
}

.about-container {
    display: flex;
    /* align-items: center; */
    margin-bottom: 70px;
}

.about-right>h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #e2cea8;
    color: #B0B3B8;
    width: fit-content;
    margin-right: auto;
    margin-top: 0px;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto; */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3s steps(60, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 55%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #f7d699;
    }
}

.profile-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-right: 35px;
}

.about-description {
    /* color: #E4E6EB; */
    color: #B0B3B8;
    font-size: 20px;
    line-height: 32px;
}

.about-find-me {
    display: flex;
}

.contact-icon {
    color: #B0B3B8;
    margin: 10px;
    font-size: 40px;
}

/* .contact-icon > div {
    font-size: 30px;
    color: #B0B3B8;
} */

.tech-container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.tech-header {
    color: #B0B3B8;
    margin: auto;
    margin-bottom: 15px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech__icon {
    margin: 25px;
    font-size: 80px;
}