/*----------NAVBAR------------------------------------------------*/

.nav-container {
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    width: 100%;
    /* justify-content: space-evenly; */
    padding: 20px;
    position: absolute;
    z-index: 2;
    background-color: #18191A;
    padding-left: 50px;

}

.name-container {
    font-size: 30px;
    color: #707070;
    /* padding-top: 15px; */
}

.name {
    font-family: Kai;
    font-size: 45px;
    padding-right: 15px;
    padding-left: 30px;
    text-decoration: none;
    color: #464646;
    text-shadow: .5px .5px #e782ebbe, -.5px -.5px #eeec7ebe, 1px 1px 3px #ffffffbe;
    /* text-shadow: -2px -2px #ffffffbe; */
}

.oc-tags-nav {
    position: absolute;
    top: 16.5px;
    color: #464646;
    text-shadow: .5px .5px #e782ebbe, -.5px -.5px #eeec7ebe, 1px 1px 3px #ffffffbe;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.category-link {
    padding: 15px;
    /* margin: 10px; */
    text-decoration: none;
    font-size: 20px;
    color: #707070;
    /* border: 1px solid pink; */
    border-radius: 5px;
}

.category-link:hover {
    color: #B0B3B8;
    /* border-bottom: 1px solid red; */
}

/*----------Home------------------------------------------------*/

.home-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    /* height: 1000px; */
}

.background {
    z-index: -1;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    /* background-color: transparent; */
}

/* .pix-container {
    position: absolute;
    left: 100px;
    height: 100px; */

/* width: 10px; */

/* box-shadow: 0px 0px 0px 0px white; */

/* animation-name: pixel-start, pixel-end;
    animation-duration: 4s, 4s;
    animation-delay: 0s, 4s;
    animation-iteration-count: infinite;
    width:1px;

} */

/* #pix-1 {
    width: .5px;
    animation-name: pixel-start, pixel-end;
    animation-duration: 4s, 4s;
    animation-delay: 0s, 4s;
    animation-iteration-count: infinite;

    stroke: #18191A; */

/* box-shadow: 0px 0px 0px 0px white; */

/* background-color: red; */

/* } */

/* @keyframes pixel-start {
    from {stroke: #18191A;}
    to {stroke: white;}
    from {box-shadow: 0px 0px 0px 0px white;}
    to {box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.548);}
}

@keyframes pixel-end {
    from {stroke: white;}
    to {stroke: #18191A;}
    from {box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.548);}
    to {box-shadow: 0px 0px 0px 0px white;}
} */

/* .pix-container {
    position: absolute;
    left: 100px;
    height: 1000px;
    animation-name: pixel-pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width:1px;

} */

/*----------BACKGROUND------------------------------------------------*/

#pix-1 {
    width: .3px;
    position: absolute;
    left: 2%;
    /* height: 380px; */
    height: 225vh;
    /* animation: pixel-start 4s infinite; */
    animation-name: pixel-pulse-pink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    /* box-shadow: 0px 0px 0px 0px white; */
    /* background-color: red; */
    z-index: -1;
}

#pix-2 {
    width: .3px;
    position: absolute;
    left: 15%;
    /* height: 300px; */
    height: 225vh;
    animation-name: pixel-pulse-pink;
    animation-delay: .5s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-3 {
    width: .3px;
    position: absolute;
    left: 30%;
    /* height: 300px; */
    height: 225vh;
    animation-name: pixel-pulse-pink;
    animation-delay: 1.5s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-4 {
    width: .3px;
    position: absolute;
    left: 55%;
    /* height: 300px; */
    height: 225vh;
    animation-name: pixel-pulse-pink;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-5 {
    width: .3px;
    position: absolute;
    left: 85%;
    /* height: 500px; */
    height: 225vh;
    /* animation: pixel-start 4s infinite; */
    animation-name: pixel-pulse-pink;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-6 {
    width: .3px;
    position: absolute;
    left: 90%;
    height: 150px;
    /* animation: pixel-start 4s infinite; */
    animation-name: pixel-pulse-purple;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-6 {
    width: .3px;
    position: absolute;
    left: 97%;
    /* height: 400px; */
    height: 225vh;
    animation-name: pixel-pulse-purple;
    animation-delay: 2.3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-7 {
    width: .3px;
    position: absolute;
    left: 7%;
    /* height: 500px; */
    height: 225vh;
    animation-name: pixel-pulse-purple;
    animation-delay: 1.4s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-8 {
    width: .3px;
    position: absolute;
    left: 68%;
    /* height: 430px; */
    height: 225vh;
    animation-name: pixel-pulse-purple;
    animation-delay: .6s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-9 {
    width: .3px;
    position: absolute;
    left: 45%;
    /* height: 430px; */
    height: 225vh;
    animation-name: pixel-pulse-purple;
    animation-delay: .6s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

#pix-10 {
    width: .3px;
    position: absolute;
    left: 75%;
    /* height: 430px; */
    height: 225vh;
    animation-name: pixel-pulse-purple;
    animation-delay: .6s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #18191A;
    z-index: -1;
}

@keyframes pixel-pulse-pink {
    0% {
        background-color: #1a1819;
        box-shadow: 0px 0px 0px 0px black;
    }
    50% {
        background-color: rgba(236, 165, 194, 0.767);
        box-shadow: 0px 0px 10px 1.5px rgba(255, 255, 255, 0.356);
    }
    100% {
        background-color: #18191A;
        box-shadow: 0px 0px 0px 0px black;
    }
}

@keyframes pixel-pulse-purple {
    0% {
        background-color: #1a1819;
        box-shadow: 0px 0px 0px 0px black;
    }
    50% {
        background-color: rgba(209, 133, 236, 0.767);
        box-shadow: 0px 0px 10px 1.5px rgba(255, 255, 255, 0.356);
    }
    100% {
        background-color: #18191A;
        box-shadow: 0px 0px 0px 0px black;
    }
}

/* @keyframes pixel-pulse {
    0% {
        background-color: #1a1819;
    }
    50% {
        background-color: rgba(204, 204, 204, 0.815);
    }
    100% {
        background-color: #18191A;
    }
    0% {
        box-shadow: 0px 0px 0px 0px black;
    }
    50% {
        box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.356);
    }
    100% {
        box-shadow: 0px 0px 0px 0px black;
    }
} */

/* ----- DESKTOPS, LARGE SCREENS -------- */

/* @media only screen and (min-width: 1300px) {

} */