.sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.name-footer {
    display: flex;
    justify-content: flex-end;
    /* padding-bottom: 40px; */
    background-color: #18191A;
    padding: 20px;
    padding-right: 50px;

}

.name-container-footer {
    font-size: 30px;
    color: #707070;
    position: relative;
    padding-right: 20px;
    /* padding: 10px; */
    
}

.oc-tags-footer-t {
    position: absolute;
    bottom: 7px;
    left: -15px;
    color: #464646;
    text-shadow: .5px .5px #e782ebbe, -.5px -.5px #eeec7ebe, 1px 1px 3px #ffffffbe;
}

.oc-tags-footer-slash {
    position: absolute;
    bottom: -5px;
    left: 6px;
    font-size: 50px;
    font-weight: 200;
    color: #464646;
    text-shadow: .5px .5px #e782ebbe, -.5px -.5px #eeec7ebe, 1px 1px 3px #ffffffbe;
}


.oc-tags-footer {
    position: absolute;
    bottom: 7px;
    color: #464646;
    text-shadow: .5px .5px #e782ebbe, -.5px -.5px #eeec7ebe, 1px 1px 3px #ffffffbe;
}