#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #1a1919e6;
}

#modal-content {
  position: absolute;
  /* background-color:#E4E6EB; */
  background-color:#37373f;
  border-radius: 10px;
  height: 80vh;
  width: 70vw;
  /* border: 1px solid red; */
  padding: 40px;
  overflow-y: scroll;
  animation: fadebackground .5s;

}

@keyframes fadebackground {
  from {
      background-color: #1a1919e6;
  }
  to {
      background-color: #37373f;
  }
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: initial;
}

